---
import { getCollection } from "astro:content";
import type { PaginateFunction } from "astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import Search from "@components/Search.astro";
import ArticleCard from "@components/ArticleCard.astro";
import Button from "@components/Button.astro";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const campaigns = await getCollection("campaign", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });

  const campaignPages = [...campaigns];

  return paginate(campaignPages, {
    pageSize: 6,
  });
}

const { page } = Astro.props;
---

<BaseLayout title="Fundraising Campaign">
  <div class="mb-32 mt-32 md:mb-48 md:mt-48 lg:mb-64 lg:mt-64">
    <h1
      class="mb-16 text-center text-3xl font-bold after:mt-2 after:block after:font-serif after:text-base after:font-normal after:italic after:content-['(featured)'] md:text-4xl lg:text-5xl lg:after:absolute lg:after:mt-4 lg:after:inline"
    >
      Campaign
    </h1>
    <div class="mb-8 flex justify-center">
      <Search />
    </div>
    <ul
      class="border-secondary grid gap-y-32 border-t-[1px] px-[5vw] pt-24 md:grid-cols-8 md:grid-rows-2 md:gap-x-16 md:pt-32 lg:grid-cols-12"
    >
      {
        page.data.map((campaign) => (
          <li class="col-span-4">
            <ArticleCard
              thumbnail={campaign.data.thumbnail}
              title={campaign.data.title}
              category="fundraising campaign"
              date="29 November"
              id={`/work/fundraising-campaign/${campaign.id}`}
            />
          </li>
        ))
      }
    </ul>

    <div class="mt-24 flex justify-center gap-4">
      {page.url.first ? <Button url={page.url.first}>First</Button> : null}
      {page.url.prev ? <Button url={page.url.prev}>Previous</Button> : null}
      <Button url={page.url.current}>{page.currentPage}</Button>
      {page.url.next ? <Button url={page.url.next}>Next</Button> : null}
      {page.url.last ? <Button url={page.url.last}>Last</Button> : null}
    </div>
  </div>
</BaseLayout>
