---
import { getCollection } from "astro:content";
import type { PaginateFunction } from "astro";
import BaseLayout from "@layouts/BaseLayout.astro";
import InstagramEmbed from "@components/InstagramEmbed.astro";
import Button from "@components/Button.astro";

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction;
}) {
  const contents = await getCollection("content", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });

  const releasePages = [...contents];

  return paginate(releasePages, {
    pageSize: 6,
  });
}

const { page } = Astro.props;
---

<BaseLayout title="Social Media Content">
  <div class="px-[5vw] mt-32 mb-32 md:mt-48 md:mb-48 lg:mt-64 lg:mb-64">
    <h1
      class="text-3xl font-bold text-center mb-16 md:text-4xl after:content-['(featured)'] after:mt-2 after:block after:text-base after:font-normal after:font-serif after:italic lg:after:inline lg:text-5xl lg:after:mt-4 lg:after:absolute"
    >
      Social Media
    </h1>
    <ul
      class="grid grid-cols-4 justify-center md:grid-cols-8 lg:grid-cols-12 gap-x-16 gap-y-16 md:gap-y-32"
    >
      {
        page.data.map((content) => (
          <li class="col-span-4 lg:col-span-6 md:col-span-4">
            <div class="flex justify-center">
              <InstagramEmbed url={content.data.url} />
            </div>
          </li>
        ))
      }
    </ul>

    <div class="mt-24 flex justify-center gap-4">
      {page.url.first ? <Button url={page.url.first}>First</Button> : null}
      {page.url.prev ? <Button url={page.url.prev}>Previous</Button> : null}
      <Button url={page.url.current}>{page.currentPage}</Button>
      {page.url.next ? <Button url={page.url.next}>Next</Button> : null}
      {page.url.last ? <Button url={page.url.last}>Last</Button> : null}
    </div>
  </div>
</BaseLayout>
