---
import BaseLayout from "@layouts/BaseLayout.astro";
import {Icon} from "astro-icon/components"
import { getCollection } from "astro:content";
const resume = await getCollection("resume");
const contacts = await getCollection("contact")
---
<BaseLayout title="Resume">
  <div class="mx-[5vw] mt-32 mb-32">
  {resume.map((item) => (
    // Profile
    <div class="flex items-start">
      <h1 class="text-xl font-bold uppercase w-1/2">{item.data.profile.name}</h1>
     
      <ul class="flex justify-end w-1/2">
        {contacts.slice(0, 3).map((contact) => (
          <li class="inline-block">
            <a class="text-[32px]" href={contact.data.url} target="_blank">
              <Icon name={contact.data.icon}/>
            </a>
          </li>
        ))}
      </ul>
    </div>

    
    <p class="font-serif italic mb-4">{`${item.data.profile.location} (willing to relocate)`}</p>
    
    
    <div class="pt-8">
      <h2 class="text-lg font-bold border-b-[1px] border-secondary">Work Experience</h2>
      <ul>
        {item.data.experience.work.map((w) => (
          <li>
            <div class="flex justify-between items-center gap-x-2">
              <h3><span class="text-md font-bold">{`${w.company}`}</span> - <span class="font-serif italic">{`${w.location}`}</span></h3>
              {w.website && <a href={w.website} target="_blank">
                <Icon name="ri:external-link-line" class="text-[32px]"/>
              </a>}
            </div>
            <p><span class="font-bold">{`${w.position}`}</span> <span class="font-serif italic">{`(${w.date.start} - ${w.date.end})`}</span></p>
            <ul>
              {w.responsibilities.map((responsibility) => (
                <li class="flex gap-2 last:mb-4">
                  <div class="pb-[0.1rem]">
                   ●
                  </div>
                  <div>
                    {responsibility}
                  </div>
                </li>
              ))}
            </ul>
          </li>
        ))}
      </ul>
    </div>

    
    <div class="pt-8">
      <h2 class="text-lg font-bold border-b-[1px] border-secondary">Project Experience</h2>
      <ul>
        {item.data.experience.project.map((p) => (
          <li>
            <div class="flex justify-between items-center gap-x-2">
              <h3><span class="text-md font-bold">{`${p.name}`}</span> - <span class="font-serif italic">{`${p.location}`}</span></h3>
              {p.website && <a href={p.website} target="_blank">
                  <Icon name="ri:external-link-line" class="text-[32px]"/>
                </a>}
            </div>
            <p><span class="font-bold">{`${p.role}`}</span> <span class="font-serif italic">{`(${p.date.start} - ${p.date.end})`}</span></p>
            <ul>
              {p.responsibilities.map((responsibility) => (
                <li class="flex gap-2 last:mb-4">
                  <div class="pb-[0.1rem]">
                   ●
                  </div>
                  <div>
                    {responsibility}
                  </div>
                </li>
              ))}
            </ul>
          </li>
        ))}
      </ul>
    </div>

    
    <div class="pt-8">
      <h2 class="text-lg font-bold border-b-[1px] border-secondary">Organizational Experience</h2>
      <ul>
        {item.data.experience.organization.map((o) => (
          <li>
            <div class="flex justify-between items-center gap-x-2">
              <h3><span class="text-md font-bold">{`${o.name}`}</span> - <span class="font-serif italic">{`${o.location}`}</span></h3>
              {o.website && <a href={o.website} target="_blank">
                  <Icon name="ri:external-link-line" class="text-[32px]"/>
                </a>}
            </div>
            <p><span class="font-bold">{`${o.role}`}</span> <span class="font-serif italic">{`(${o.date.start} - ${o.date.end})`}</span></p>
            <ul>
              {o.responsibilities.map((responsibility) => (
                <li class="flex gap-2 last:mb-4">
                  <div class="pb-[0.1rem]">
                   ●
                  </div>
                  <div>
                    {responsibility}
                  </div>
                </li>
              ))}
            </ul>
          </li>
        ))}
      </ul>
    </div>

    
    <div class="pt-8">
      <h2 class="text-lg font-bold border-b-[1px] border-secondary">Education</h2>
      <ul>
        {item.data.education.map((e) => (
          <li class="mb-4">
            <div class="flex justify-between items-center gap-x-2">
              <h3><span class="font-bold">{`${e.institution}`}</span> <span class="font-serif italic">{`(${e.date.start} - ${e.date.end})`}</span></h3>
              {e.website && <a href={e.website} target="_blank">
                  <Icon name="ri:external-link-line" class="text-[32px]"/>
                </a>}
            </div>
            <p>{e.name}</p>            
          </li>
        ))}
      </ul>
    </div>

    
    <div class="pt-8">
      <h2 class="text-lg font-bold border-b-[1px] border-secondary">Certification</h2>
      <ul>
        {item.data.certification.map((c) => (
          <li class="mb-4">
              <h3><span class="font-bold">{`${c.institution}`}</span> <span class="font-serif italic">{`(${c.date})`}</span></h3>
              <p>{c.name} - {c.detail} (<a href={c.credential} target="_blank" class="underline">Credential</a>)</p>
          </li>
        ))}
      </ul>
    </div>

    
    <div class="pt-8">
      <h2 class="text-lg font-bold border-b-[1px] border-secondary">Skill</h2>
      <ul>
        {item.data.skill.map((s) => (
          <li class="flex gap-2">
            <div class="pb-[0.1rem]">
              ●
            </div>
            <div>
              {s}
            </div>
          </li>
        ))}
      </ul>
    </div>

  ))}
  </div>
</BaseLayout>