---
import Navbar from "@components/Navbar.astro";
import Footer from "@components/Footer.astro";
import { getCollection } from "astro:content";
import { SEO } from "astro-seo";

const resume = await getCollection("resume");

const navLinks = [
  {
    name: "Work",
    url: "/work",
  },
  {
    name: "Resume",
    url: "/resume",
  },
  {
    name: "Contact",
    url: "mailto:faisal.muhammad2911@gmail.com?body=Hi,%20Faisal!",
  },
];

const footerLinks = [
  {
    name: "Home",
    url: "/",
  },
  {
    name: "Work",
    url: "/work",
  },
  {
    name: "Resume",
    url: "/resume",
  },
  {
    name: "Contact",
    url: "mailto:faisal.muhammad2911@gmail.com?body=Hi,%20Faisal!",
  },
];

interface Props {
  title?: string;
  description?: string;
  ogImg?: string
}

const { title, description, ogImg } = Astro.props;
---

<html lang="en">
  <head>
    {
      resume.map((item) => (
        <SEO
          title={title}
          titleTemplate={`%s | ${item.data.profile.name}`}
          titleDefault={`${item.data.profile.name} - Writing Portfolio`}
          description={description}
          openGraph={{
            basic: {
              title: `${title}`,
              type: "website",
              image: `${ogImg ? ogImg : ".../.../public/og-image.jpg"}`,
            },
            optional: {
              description: `${description ? description : "Faisal had successfully written over 90 fundraising campaigns that have collectively raised over Rp1,800,000,000+"}`,
              locale: "id_ID",
              localeAlternate: ["en_US", "en_GB"],
            },
            image: {
              type: "image/jpeg",
              width: 100,
              height: 100,
              alt: "The image says Faisal M",
            }
          }},
          twitter={{
            card: "summary_large_image",
            site: "@HomesickAlienn_",
            creator: "@HomesickAlienn_",
            title: `${title}`,
            image: `${ogImg ? ogImg : ".../.../public/og-image.jpg"}`,
            imageAlt: `${ogImg ? `${title} thumbnail` : "The image says Faisal M"}`,
            description: `${description}`,
          }}
        />
      ))
    }
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <!-- Light mode favicon -->
    <link
      rel="icon"
      href="/favicon-light.svg"
      type="image/svg+xml"
      media="(prefers-color-scheme: light)"
    />

    <!-- Dark mode favicon -->
    <link
      rel="icon"
      href="/favicon-dark.svg"
      type="image/svg+xml"
      media="(prefers-color-scheme: dark)"
    />

    <meta name="generator" content={Astro.generator} />
  </head>
  <body>
    <Navbar desktopLinks={navLinks} mobileLinks={footerLinks} />
    <slot />
    <Footer links={footerLinks} />
  </body>
</html>

<style is:global>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;

  /* Serif Font */
  @font-face {
    font-family: "source-serif-4";
    src: url("/fonts/SourceSerif4-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "source-serif-4";
    src: url("/fonts/SourceSerif4-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "source-serif-4";
    src: url("/fonts/SourceSerif4-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "source-serif-4";
    src: url("/fonts/SourceSerif4-BlackItalic.woff2") format("woff2");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "source-serif-4";
    src: url("/fonts/SourceSerif4-ExtraBold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "source-serif-4";
    src: url("/fonts/SourceSerif4-ExtraBoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "source-serif-4";
    src: url("/fonts/SourceSerif4-ExtraLightItalic.woff2") format("woff2");
    font-weight: 200;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "source-serif-4";
    src: url("/fonts/SourceSerif4-ExtraLight.woff2") format("woff2");
    font-weight: 200;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "source-serif-4";
    src: url("/fonts/SourceSerif4-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "source-serif-4";
    src: url("/fonts/SourceSerif4-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "source-serif-4";
    src: url("/fonts/SourceSerif4-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "source-serif-4";
    src: url("/fonts/SourceSerif4-Italic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "source-serif-4";
    src: url("/fonts/SourceSerif4-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "source-serif-4";
    src: url("/fonts/SourceSerif4-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "source-serif-4";
    src: url("/fonts/SourceSerif4-SemiBold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "source-serif-4";
    src: url("/fonts/SourceSerif4-SemiBoldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  /* Sans Font */
  @font-face {
    font-family: "Uncut Sans";
    src: url("/fonts/UncutSans-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Uncut Sans";
    src: url("/fonts/UncutSans-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Uncut Sans Book";
    src: url("/fonts/UncutSans-BookItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Uncut Sans";
    src: url("/fonts/UncutSans-BoldItalic.woff2") format("woff2");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Uncut Sans";
    src: url("/fonts/UncutSans-LightItalic.woff2") format("woff2");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Uncut Sans Book";
    src: url("/fonts/UncutSans-Book.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Uncut Sans";
    src: url("/fonts/UncutSans-MediumItalic.woff2") format("woff2");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Uncut Sans";
    src: url("/fonts/UncutSans-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Uncut Sans";
    src: url("/fonts/UncutSans-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Uncut Sans";
    src: url("/fonts/UncutSans-RegularItalic.woff2") format("woff2");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
  }

  @font-face {
    font-family: "Uncut Sans";
    src: url("/fonts/UncutSans-Semibold.woff2") format("woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Uncut Sans";
    src: url("/fonts/UncutSans-SemiboldItalic.woff2") format("woff2");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
  }

  @layer base {
    /* Colors */

    /* Text colors */
    .text {
      &-primary {
        color: hsla(0, 0%, 7%, 1);
      }
      &-secondary {
        color: hsla(15, 2%, 35%, 1);
      }
      &-invert {
        color: hsla(0, 0%, 100%, 1);
      }
    }

    /* Surface Colors */
    .surface {
      &-primary {
        background-color: hsla(0, 0%, 100%, 1);
      }
      &-secondary {
        background-color: hsla(0, 2%, 84%, 1);
      }
      &-invert {
        background-color: hsla(0, 0%, 7%, 1);
      }
    }
  }

  @layer components {
    .border {
      &-primary {
        border-color: hsla(0, 0%, 7%, 1);
      }
      &-secondary {
        border-color: hsla(0, 2%, 84%, 1);
      }
      &-invert {
        border-color: hsla(0, 0%, 100%, 1);
      }
    }
  }
</style>
