---
import { getCollection, render } from "astro:content";
import { Image } from "astro:assets";
import BaseLayout from "@layouts/BaseLayout.astro";
import Prose from "@components/Prose.astro";

export async function getStaticPaths() {
  const releases = await getCollection("release", ({ data }) => {
    return import.meta.env.PROD ? data.draft !== true : true;
  });

  return releases.map((release) => ({
    params: {
      id: release.id,
    },
    props: {
      release,
    },
  }));
}

const { release } = Astro.props;
const { Content } = await render(release);
---

<BaseLayout
  title={release.data.title}
  description={release.data.description}
  ogImg={release.data.thumbnail}
>
  <article class="px-[5vw] mt-32 mb-32 md:mb-48 lg:mb-64">
    <div class="mb-12">
      <div class="mb-12">
        <p class="uppercase tracking-[0.08em] text-center">article</p>
        <h1 class="text-3xl font-bold mb-2 text-center">
          {release.data.title}
        </h1>
        <div class="flex justify-center">
          <time class="font-serif italic"
            >{
              new Date(release.data.publishedDate).toLocaleDateString("en-US", {
                day: "numeric",
                month: "long",
                year: "numeric",
              })
            }</time
          >
        </div>
      </div>

      <div class="flex justify-center">
        <Image
          src={release.data.thumbnail}
          alt={`${release.data.title} thumbnail`}
          width="500"
          height="250"
        />
      </div>
    </div>

    <Prose>
      <Content />
    </Prose>
  </article>
</BaseLayout>
